<%- include('partials/header'); -%>

<h1> Compose </h1>

<form action="/compose" method="POST">
    <div class="form-group">
        <label for="titleMessage">Title</label>
        <input class="form-control" type="text" name="titleMessage">
        <label for="postMessage">Post</label>
        <textarea class="form-control" rows="5" cols="30" type="text" name="postMessage"></textarea>
    </div>
    
    <input class="btn btn-primary" type="submit" name="button" value="Publish">
  </form>


<%- include('partials/footer'); -%>